
h1{
color:brown
}
*{
border:solid
}
.header{
    background-color: yellow;
    display:flex;
    justify-content:space-between;
    
}
.item{
    background-color:teal
}
.games{
    background-color:red;
    display:flex;
    justify-content:space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
.head{
    display:flex;
    flex-direction:column-reverse;
}